<!DOCTYPE html>
<html>
<head>
  <title>Map Chat</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtZeWmQ7w9Wx4pY_6skY932Hte3XlySls"></script>
  <%= csrf_meta_tags %>
  <!--google맵 스타일시트--->
  
  <!-- 구글맵 end-->
  
</head>
<body>
  <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-static-top" style="background-color:#778899; color:#fff; font-weight:bold;  margin-bottom: 0px;">
    <div class="container-fluid">
     <div  class="collapse navbar-collapse" id="navbarCollapse">
        <div class="row">
          <div class="col-md-3"><p id="main_title">세렝게티</p><!--제목부분 추후에 이미지로 바꿈--></div><!--로고도 추후에 이미지로 바꿈-->
          <div class="col-md-6">
          <center>
          <img src="../../assets/세렝게티로고.jpg" style="width: 35%; height: 10%; margin: 10px;">
          </center>
          </div>
          <div class="col-md-3">
            <ul class="nav navbar-nav">
              <% if current_user.nil? %>
              <li><a href="/users/sign_in"><span class="text_color">Sign in</span></a></li>
              <li><a href="/users/sign_up"><span class="text_color">Sign up</span></a></li>
              <% else%>
              <li><a href="/users/sign_out" data-method="delete">Sign out</a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

      <!--/.nav-collapse -->

  </nav>

  <%= yield %>
  
</body>
</html>